<footer id="page-footer" class="container">
  <p><b>Find and share the story in your source documents.</b></p>
  <p><%= link_to 'sourceAFRICA', '/' %> is an investigative tool developed and maintained by Africa’s largest association of investigative newsrooms,  <%= link_to 'ANCIR', 'https://investigativecenters.org/'%>.</p>
  <nav class="nav nav-inline">
    <%= link_to 'Contact us', "/contact", class: 'nav-link' %>
    <%= link_to 'Terms of Service', "/terms", class: 'nav-link' %>
    <%= link_to 'Privacy Policy', "/privacy", class: 'nav-link' %>
  </nav>
</footer>
